form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    flex-grow: 1;
}

.event-type-dropdown {
    margin: 0 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
}

button[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #2b5bb4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

button[type="submit"]:disabled {
    background-color: #9e9e9e;
    cursor: not-allowed;
}

button[type="submit"]:hover:not(:disabled) {
    background-color: #19479b;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    color: #19479b;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 96%;
}

li button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    color: #333;
}

li button:hover {
    color: #007bff;
}

.buttons-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}